<div class="col-1">
    <div class="container">
        <h1>Welcome, friend</h1>
        <form class="artistSearch">
            {{!-- <label for="title">Title</label> --}}
            <input placeholder="Исполнитель" type="text" name="title">
            <button>Send me</button>
        </form>
    </div>
</div>
<div class="col-2">
    <div class="container">
        <ul style="list-style: none;">
            <li class="elem">

            </li>
        </ul>
    </div>
</div>
<div class="col-3">
    <div class="container">
        <form style="visibility: hidden;" class="musicSearch">
            <input placeholder="Название песни" type="text" name="nameSong">
            <button class="btn_mod">Send me</button>
            <div class="err"></div>
        </form>
    </div>
</div>
<div class="col-4">
    <div class="container">
        <div class="audioElem">
            
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <p style="color:white">2021 year</p>
    </div>
</footer>